:root {
  --dark-background: #023047;
  --light-background: #8ecae6;
  --important-text: #ffb703;
  --border-color: #fb8500;
}

body {
  box-sizing: border-box;
}

header, footer {
  background-color: var(--dark-background);
}

.nav-item .nav-link.active {
  font-weight: bold;
  color: var(--important-text);
  border-bottom: 2px solid var(--important-text);
}

.nav-hover:hover {
  color: var(--light-background);
}

.nav-item .nav-link.active .nav-hover:hover {
  color: var(--important-text);
}

.footer-icon {
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  animation: shake 0.5s ease-in-out forwards;
}

@keyframes shake {
  0%, 100% {
    transform: scale(1.2) translateX(0);
  }
  25% {
    transform: scale(1.2) translateX(-3px);
  }
  50% {
    transform: scale(1.2) translateX(3px);
  }
  75% {
    transform: scale(1.2) translateX(-3px);
  }
}

.profile-image {
  min-width: 150px;
  height: 150px;
  object-fit: cover;
}

.square-card {
  border-radius: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (min-width: 992px) {
  .nav-item {
    font-size: 1.2rem;
  }
}