/* 
  ----------------------------------
  STYLES FOR THE FOOTER
  ----------------------------------
*/

.custom-footer {
    border-top: 1px solid var(--text-gray);
}
  
.footer-button {
    color: var(--text-gray);
    transition: transform 0.3s ease,  color 0.3s ease-in-out;
}
  
.footer-button:hover {
    color: white;
    transform: scale(1.1);
    animation: shake 0.5s ease-in-out forwards;
}